<html>
    <head>
        <style>
            html {
                background: linear-gradient(to bottom right, #1f6fef, lightblue);
                font-family: Arial, Helvetica, sans-serif;
            }
            .topnav {
                overflow: hidden;
            }
            
            .topnav a {
                float: left;
                display: block;
                color: white;
                text-align: center;
                text-decoration: none;
                font-size: 17px;
            }
            
            .notActive {
                padding: 14px 16px;
            }
            
            .topnav a:hover {
                background: rgba(255, 255, 255, 0.2);
                border: white;
                border-style: solid;
                border-width: 2px; 
                padding: 12px 14px;
                color: #fff;
                border-radius: 5px; 
            }
            
            .active {
                background: rgba(255, 255, 255, 0);
                border: white;
                border-style: solid;
                border-width: 2px; 
                padding: 12px 14px;
                color: #fff;
                border-radius: 5px;
            }
            
            h2 {
                color: white;
                text-align: center;
            }
            
            p {
                color: white;
                text-align: center;
            }
            
            ul {
                list-style: none;
                width: 95%;
                text-align: center;
            }
            
            li {
                color: white;
                text-align: center;
                text-decoration: none;
            }
            
            .border {
                border-width: 2px;
                border-style: solid;
                border-radius: 5px;
            }
            
            .button {
                float: left;
                display: block;
                color: white;
                text-align: center;
                text-decoration: none;
                font-size: 17px;
                padding: 14px 16px;
            }
            
            .button:hover {
                background: rgba(255, 255, 255, 0.2);
                border: white;
                border-style: solid;
                border-width: 2px; 
                padding: 12px 14px;
                color: #fff;
                border-radius: 5px;
            }
            
        </style>
    </head>
    
    <body>
        
        <div class="topnav" id="NavBar">
            <a href="/home" class="notActive">Home</a>
            <a href="/students" class="notActive">Students</a>
            <a href="/books" class="notActive">Books</a>
            <a href="/assign" class="notActive">Distribute</a>
            <a href="/weekly_report" class="active">Report</a>
        </div>
        
        <h2>
            Weekly Report (Dates Only)
        </h2>
        
        <p>
            Report updates when refreshed
        </p>
        <br>
        <br>
        
        <a class="button" href="/students_only">Student Names Only</a>
        <a class="button" href="/books_only">Book Titles Only</a>
        <a class="button" href="/dates_only">Dates Assigned Only</a>
        <a class="button" href="/table">Complete Table View</a>

        <br>
        <br>
        <br>
        <br>
        
            <ul>
                <% book_id = Bookid.all %>
                <% book_id.created_between(1.week.ago, Time.now).each do |bookid| %>
                    <li class="date_assigned">
                        Date Assigned: <%= bookid.created_at %>
                    </li>
                    <br>
                <% end %>
            </ul>
    </body>
    
</html>