<html>
    <!-- This is the file that displays the information for the home page. Everything between the style tags create the layout for the page. The navigation bar is denoted by the id "NavBar."-->
    <head>
        <style>
            html {
                background: linear-gradient(to bottom right, #1f6fef, lightblue);
                font-family: Arial, Helvetica, sans-serif;
            }
            .topnav {
                overflow: hidden;
            }
            
            .topnav a {
                float: left;
                display: block;
                color: white;
                text-align: center;
                text-decoration: none;
                font-size: 17px;
            }
            
            .notActive {
                padding: 14px 16px;
            }
            
            .topnav a:hover {
                background: rgba(255, 255, 255, 0.2);
                border: white;
                border-style: solid;
                border-width: 2px; 
                padding: 12px 14px;
                color: #fff;
                border-radius: 5px; 
            }
            
            .active {
                background: rgba(255, 255, 255, 0);
                border: white;
                border-style: solid;
                border-width: 2px; 
                padding: 12px 14px;
                color: #fff;
                border-radius: 5px;
            }
            
            h1 {
                color: white;
                text-align: center;
                font-size: 24px;
            }
            
            h3 {
                color: white;
                text-align: center;
            }
            
            p {
                color: white;
                text-align: center;
            }
            
            ul {
                list-style: none;
                width: 95%;
                text-align: center;
            }
            
            li {
                color: white;
                text-align: center;
                text-decoration: none;
            }
            
            .border {
                border-width: 2px;
                border-style: solid;
                border-radius: 5px;
            }
            
            .outside {
                padding: 50px;
            }
            
            .drop_down_content {
                display: none;
                text-align: center;
            }
            
            li:hover .drop_down_content {
                display: block;
            }
            
            .button {
                float: left;
                display: block;
                color: white;
                text-align: center;
                text-decoration: none;
                font-size: 17px;
                padding: 14px 16px;
            }
            
            .button:hover {
                background: rgba(255, 255, 255, 0.2);
                border: white;
                border-style: solid;
                border-width: 2px; 
                padding: 12px 14px;
                color: #fff;
                border-radius: 5px;
            }

            * {box-sizing: border-box}
            
            .tablink:hover {
              background-color: #777;
            }
            
            /* Style the tab content (and add height:100% for full page content) */
            .tabcontent {
              color: white;
              display: none;
              height: 25%;
            }
            
            hr {
                width: 95%;
                border-color: white;
            }
            
            .FAQNav {
                display: flex;
                justify-content: center;
            }
            
            .FAQNav a {
                display: block;
                color: white;
                text-align: center;
                text-decoration: none;
                font-size: 17px;
            }
            
            .FAQNav a:hover {
                background: rgba(255, 255, 255, 0.2);
                border: white;
                border-style: solid;
                border-width: 2px; 
                padding: 12px 14px;
                color: #fff;
                border-radius: 5px; 
            }
            
            hr {
                width: 95%;
                border-color: white;
            }
        </style>
    </head>
    
    <body>
        
        <div class="topnav" id="NavBar">
            <a href="/home" class="active">Home</a>
            <a href="/students" class="notActive">Students</a>
            <a href="/books" class="notActive">Books</a>
            <a href="/assign" class="notActive">Distribute</a>
            <a href="/weekly_report" class="notActive">Report</a>
            <a href="/FAQ" class="notActive">FAQ</a>
        </div>
        
        <br>
        <br>
        
        <h1>
            Frequently Asked Questions
        </h1>
            
            <div class="outside">
                <div class="FAQNav">
                    <a id="defaultOpen" onclick="openPage('Add Student', this)" class="notActive">Q: Where can I add a student to the database?</a>
                    <a onclick="openPage('Add Book', this)" class="notActive">Q: Where can I add a book to the database?</a>
                    <a onclick="openPage('Remove', this)" class="notActive">Q: Can I remove students and/or books from the database?</a>
                    <a onclick="openPage('first', this)" class="notActive">Q: Does Emma Johnson deserve 1st place in the Coding and Programming category at the Nebraska FBLA State Leadership Conference?</a>
                </div>
        
                <div id="Add Student" class="tabcontent">
                  <br>
                  <br>
                  <h3>Q: Where can I add a student to the database?</h3>
                  <br>
                  <p>A: Go to the Student tab and scroll to the bottom of the page. You'll find a button there that will take you to the form for adding a student</p>
                </div>
                
                <div id="Add Book" class="tabcontent">
                  <br>
                  <br>
                  <h3>Q: Where can I add a book to the database?</h3>
                  <br>
                  <p>A: Go to the Book tab and scroll to the bottom of the page. You'll find a button there that will take you to the form for adding a book</p>
                </div>
                
                <div id="Remove" class="tabcontent">
                  <br>
                  <br>
                  <h3>Q: Can I remove students and/or books from the database?</h3>
                  <br>
                  <p>A: Yes! For a student, go to the student tab and scroll to the bottom. There is a link there that will take you to a form where you can remove students from the database as needed. <br>For a book, go to the books tab and scroll to the bottom. There is a link there that will take you to a form where you can remove books from the database as needed. </p>
                </div>
                
                <div id="first" class="tabcontent">
                  <br>
                  <br>
                  <h3>Q: Does Emma Johnson deserve 1st place in the Coding and Programming category at the Nebraska FBLA State Leadership Conference?</h3>
                  <br>
                  <p>A: Absolutely! </p>
                </div>
            </div>
            
            <script>
                function openPage(pageName,elmnt) {
                  var i, tabcontent, tablinks;
                  tabcontent = document.getElementsByClassName("tabcontent");
                  for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                  }
                  tablinks = document.getElementsByClassName("tablink");
                  for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].style.backgroundColor = "";
                  }
                  document.getElementById(pageName).style.display = "block";
                  elmnt.style.backgroundColor = color;
                }
                
                // Get the element with id="defaultOpen" and click on it
                document.getElementById("defaultOpen").click();
            </script>
    </body>
    
</html>