<html>
    <title>FBLA</title>
    <head>
        <link rel="stylesheet" href="assets/dist/slc.css">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="56779971112-v4kl4uijje7k26blkns2fmg1cpr7eav1.apps.googleusercontent.com">
    </head>
    
    <div class="title">
        <h1>
            Welcome! Login below
        </h1>
    </div>

    <body>
        
        <div class="login_bubble">
            <div class="tab">
              <a class="tablinks" onclick="openPosition(event, 'Student')" id=defaultOpen>Student</a>
              <a class="tablinks" onclick="openPosition(event, 'Teacher')">Teacher</a>
            </div>
            
            <div id="Student" class="tabcontent">
                login with google <a href="/authenticate">here</a>
            </div>
            
            <div id="Teacher" class="tabcontent">
                login with google <a href="/authenticate">here</a>
            </div>
        </div>
        
        <script>
            function openPosition(evt, cityName) {
                // Declare all variables
                var i, tabcontent, tablinks;
            
                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
            
                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
            
                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
            
            document.getElementById("defaultOpen").click();
        </script>
    
    </body>
    
</html>

