<html>
    <!-- This is the file that displays the information for the page where you can add books to the available ebook links. Information is pulled from the routes.rb file and used to provide data from the database under each option.-->
    <head>
        <style>
            html {
                background: linear-gradient(to bottom right, #1f6fef, lightblue);
                font-family: Arial, Helvetica, sans-serif;
            }
            .topnav {
                overflow: hidden;
            }
            
            .topnav a {
                float: left;
                display: block;
                color: white;
                text-align: center;
                text-decoration: none;
                font-size: 17px;
            }
            
            .notActive {
                padding: 14px 16px;
            }
            
            .topnav a:hover {
                background: rgba(255, 255, 255, 0.2);
                border: white;
                border-style: solid;
                border-width: 2px; 
                padding: 12px 14px;
                color: #fff;
                border-radius: 5px; 
            }
            
            .active {
                background: rgba(255, 255, 255, 0);
                border: white;
                border-style: solid;
                border-width: 2px; 
                padding: 12px 14px;
                color: #fff;
                border-radius: 5px;
            }
            
            h2 {
                color: white;
                text-align: center;
            }
            
            p {
                color: white;
                text-align: center;
            }
        </style>
    </head>
    
    <body>
        
        <div class="topnav" id="NavBar">
            <a href="/index" class="notActive">Home</a>
            <a href="/students" class="notActive">Students</a>
            <a href="/books" class="notActive">Books</a>
            <a href="/assign" class="notActive">Distribute</a>
            <a href="/weekly_report" class="notActive">Report</a>
        </div>
        
        <h2>
            Add a book here! 
        </h2>
        
        <form method="POST" action="/adding_book">
            <label>Book Name *</label>
            <br>
            <input type="text" placeholder="Name" name="book_name">
            <br>
            <br>
            <label>Link to Book *</label>
            <br>
            <input type="text" placeholder="www.example.com/book" name="book_link">
            <br>
            <br>
            <input type="submit">
        </form>
        
    </body>
    
</html>