<html>
    <!-- This is the file that displays the information for the page where you can add students who can recieve the ebook links. Information is pulled from the routes.rb file and used to provide data from the database under each option.-->
    <head>
        <style>
            html {
                background: linear-gradient(to bottom right, #1f6fef, lightblue);
                font-family: Arial, Helvetica, sans-serif;
            }
            .topnav {
                overflow: hidden;
            }
            
            .topnav a {
                float: left;
                display: block;
                color: white;
                text-align: center;
                text-decoration: none;
                font-size: 17px;
            }
            
            .notActive {
                padding: 14px 16px;
            }
            
            .topnav a:hover {
                background: rgba(255, 255, 255, 0.2);
                border: white;
                border-style: solid;
                border-width: 2px; 
                padding: 12px 14px;
                color: #fff;
                border-radius: 5px; 
            }
            
            .active {
                background: rgba(255, 255, 255, 0);
                border: white;
                border-style: solid;
                border-width: 2px; 
                padding: 12px 14px;
                color: #fff;
                border-radius: 5px;
            }
            
            h2 {
                color: white;
                text-align: center;
            }
            
            p {
                color: white;
                text-align: center;
            }
            
            label {
                color: white;
            }
            
            form {
                display: block;
                text-align: center;
            }
            input {
                background: lightblue;
                color: black;
                border: none;
                border-radius: 5px;
                font-size: 14px;
                height: 29px;
                padding: 5px; /* If you add too much padding here, the options won't show in IE */
                width: 268px;
            }
            
            .styled-select {
                background: lightblue;
                color: black;
                border: none;
                font-size: 14px;
                height: 29px;
                padding: 5px; /* If you add too much padding here, the options won't show in IE */
                width: 268px;
            }
        </style>
    </head>
    
    <body>
        
        <div class="topnav" id="NavBar">
            <a href="/index" class="notActive">Home</a>
            <a href="/students" class="notActive">Students</a>
            <a href="/books" class="notActive">Books</a>
            <a href="/assign" class="notActive">Distribute</a>
            <a href="/weekly_report" class="notActive">Report</a>
            <a href="/FAQ" class="notActive">FAQ</a>
        </div>
        
        <h2>
            Add a student here! 
        </h2>
        
        <form method="POST" action="/adding_student">
            <label>Student Name *</label>
            <br>
            <input type="text" placeholder="Name" name="student_name">
            <br>
            <br>
            <label>Student Email *</label>
            <br>
            <input type="email" placeholder="Email" name="student_email">
            <br>
            <br>
            <label>Grade *</label>
            <br>
            <select name="grade" class="styled-select">
                <option value=9>9</option>
                <option value=10>10</option>
                <option value=11>11</option>
                <option value=12>12</option>
            </select>
            <br>
            <br>
            <input type="submit">
        </form>
        
    </body>
    
</html>