<html>
    <head>
        <style>
            html {
                background: linear-gradient(to bottom right, #1f6fef, lightblue);
                font-family: Arial, Helvetica, sans-serif;
            }
            .topnav {
                overflow: hidden;
            }
            
            .topnav a {
                float: left;
                display: block;
                color: white;
                text-align: center;
                text-decoration: none;
                font-size: 17px;
            }
            
            .notActive {
                padding: 14px 16px;
            }
            
            .topnav a:hover {
                background: rgba(255, 255, 255, 0.2);
                border: white;
                border-style: solid;
                border-width: 2px; 
                padding: 12px 14px;
                color: #fff;
                border-radius: 5px; 
            }
            
            .active {
                background: rgba(255, 255, 255, 0);
                border: white;
                border-style: solid;
                border-width: 2px; 
                padding: 12px 14px;
                color: #fff;
                border-radius: 5px;
            }
            
            h2 {
                color: white;
                text-align: center;
            }
            
            p {
                color: white;
                text-align: center;
            }
            
            ul {
                list-style: none;
                width: 95%;
                text-align: center;
            }
            
            li {
                color: white;
                text-align: center;
                text-decoration: none;
            }
            
            .border {
                border-width: 2px;
                border-style: solid;
                border-radius: 5px;
            }
            
            .button {
                float: left;
                display: block;
                color: white;
                text-align: center;
                text-decoration: none;
                font-size: 17px;
                padding: 14px 16px;
            }
            
            .button:hover {
                background: rgba(255, 255, 255, 0.2);
                border: white;
                border-style: solid;
                border-width: 2px; 
                padding: 12px 14px;
                color: #fff;
                border-radius: 5px;
            }
            
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            
            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
                color: white;
            }
            
            .helpNav {
                display: flex;
                justify-content: center;
            }
            
            .helpNav a {
                display: block;
                color: white;
                text-decoration: none;
                font-size: 17px;
            }
            
            .helpNav a:hover {
                background: rgba(255, 255, 255, 0.2);
                border: white;
                border-style: solid;
                border-width: 2px; 
                padding: 12px 14px;
                color: #fff;
                border-radius: 5px; 
            }
        </style>
    </head>
    
    <body>
        
        <div class="topnav" id="NavBar">
            <a href="/home" class="notActive">Home</a>
            <a href="/students" class="notActive">Students</a>
            <a href="/books" class="notActive">Books</a>
            <a href="/assign" class="notActive">Distribute</a>
            <a href="/weekly_report" class="active">Report</a>
            <a href="/FAQ" class="notActive">FAQ</a>
        </div>
        
        <br>
        <br>
        
        <h2>
            Weekly Report (Complete Table)
        </h2>
        
        <p>
            Report updates when refreshed
        </p>
        
        <br>
        <br>
        
        <div class="helpNav">
            <a href="/students_only" class="notActive">Student Names Only</a>
            <a href="/books_only" class="notActive">Book Titles Only</a>
            <a href="/dates_only"class="notActive">Dates Assigned Only</a>
            <a href="/table" class="notActive">Complete Table View</a>
        </div>

        <br>
        <br>
        <br>
        <br>
        
        <table>
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Date/Time</th>
            </tr>
            <% book_id = Bookid.all %>
            <% book_id.created_between(1.week.ago, Time.now).each do |bookid| %>
            <tr>
                <th>
                    <%= Student.find(bookid.student_id).name %>
                </th>
                <th>
                    <%= Livre.find(bookid.livre_id).title %>
                </th>
                <th>
                    <%= bookid.created_at %>
                </th>
            </tr>
            <% end %>
        </table>
    </body>
    
</html>